.event-title {
	padding: 30px 120px 40px 25px;
}
.event-title h3{
	color: #404040;
	font-family: 'Montserrat-Regular', Arial, sans-serif;
}
#events .row {
	padding-bottom: 
}
#events > .row {
	padding: 30px 0px;
	margin-left: 25px;
	border-bottom: 1px solid #e7e7e7;
}
#events > .padtop {
	padding-top: 0;
}
#events > .padbot {
	padding-bottom: 0;
	border: none;
}
.news-main-content h5, .news-main-content p{
	font-family: 'Montserrat-Regular', Arial, sans-serif;
	color: #404040;
}
.news-main-content h5 {
	color: #5eb146;
	font-size: 16px;
}

@media (min-width: 768px) and (max-width: 991px) {
	.top-tile {
		margin-top: -55px;
	}
	.top-tile h3 {
		font-size: 17px;
		padding: 17px 0;
	}
}
@media (max-width: 767px) {
	.top-tile h3 {
		font-size: 16px;
	}
	.top-tile h5 {
		font-size: 14px;
		padding: 10px 15px;
	}
	.list-title > ul > li{
		padding-bottom: 15px;
	}
}