.enquire-bg {
	background-color: #00a2d2;
}
.top-tile h4 {
	padding: 8px 20px;
}
.product-content img {
	border: 0;
}
.product-content h4, p {
	font-family: 'Montserrat-Regular', Arial, sans-serif;
	text-align: center;
}
.title-tab {}
.title-tab h3, .title-tab select, .holder{
	display: inline-block;
}
.holder {
	float: right;
}
.title-tab .jp-previous {
	/*float: right;*/
}
.title-tab .jp-next {
	/*float: right;*/
}
.list-item > div.first {
}
.list-item > div{
	padding-bottom: 50px;
}
@media (min-width: 768px) and (max-width: 992px) {
	.top-tile h4 {
		padding: 11px 20px;
	}
}