#category1 {
	padding-right: 0;
}
.enquire-bg {	
	background-color: #00a2d2;
}
.top-tile h4 {
	padding: 8px 20px;
}
.product-content img {
	border: 0;
}
.product-content h4, p {
	font-family: 'Montserrat-Regular', Arial, sans-serif;
	text-align: center;
}
.title-tab {}
.title-tab h3, .title-tab select, .holder{
	display: inline-block;
}
.title-tab h3 {
	padding-left: 25px;
}
.holder {
	float: right;
	padding-top: 25px;
}
.title-tab .jp-previous {
	/*float: right;*/
}
.title-tab .jp-next {
	/*float: right;*/
}
.list-item > div.first {
}
.list-item > div{
	padding-bottom: 50px;
}
#select-page {
	margin-left: 50px;
}
.holder {}
.holder a {
	padding: 10px;
}
.holder a.jp-previous, .holder a.jp-next{ 
	padding: 2px 5px;
	border: 1px solid #ccc;
	border-radius: 50%;
	margin: 0 5px;
	color: black;
	font-family: 'Montserrat-Regular', Arial, sans-serif;
	text-decoration: none;
}
.holder a:hover {
	color: #00a2d2;
}
@media (min-width: 768px) and (max-width: 992px) {
	.top-tile h4 {
		padding: 11px 20px;
	}
}