#main-img {
	position: relative;
}
.img-content {
	position: relative;
}
.caption-content {
	position: absolute;
	top: 30%;
	right: 20%;
	left: 20%;
}
.caption-content h2 {
	color: #fff;
	font-family: 'Montserrat-Bold', Arial, sans-serif;	
}
#main-container {
	position: relative;
}
.top-tile {
	margin-top: -55px;
	background: #5eb146;
	z-index: 3;
}
.main-tile {
	background-color: #e5e5e5;
}
.list-title {
	padding-top: 30px;
}
.name-link {
	background-color: #fff;
}
.name-link div.row > .col-lg-6, .name-link div.row > .col-md-6{
	padding: 0; 
}
.story-container {
	background-color: #60b146;
}